*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  /* color: #000; */
}
html{
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #fafafb;
}

.logo {
  width: 25%;
  margin: 10px;
}

.logo img{
  width: 100%;
}
.hamburger{
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  z-index: 3;
  cursor: pointer;
}
.hamburger>.fas{
  display: none;
}
.hamburger>.fas.active{
  display: block;
}
.mobile{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
  /* display: none; */
  transform: translateY(-110%);
  transition: .3s linear;
  z-index: 2;
}
.mobile.active{
  transform: translateY(0);
}
.mobile>.nav_list{

}
.mobile>.nav_list>li{
  
}
.mobile>.nav_list>li>a{
  display: block;
  margin: 20px auto;
  width: 50%;
  height: 100%;
  font-size: 1.5rem;
  color: #000;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  transition: .3s linear;
}

.mobile>.nav_list>li>a:hover{
  color:orangered;
}
.mobile>.nav_list>li>a::before{
  content: '';
  width: 50%;
  height: 1px;
  background-color: orangered;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform:  translateX(-50%) scale(0);
  transition: .3s linear;
}

.mobile>.nav_list>li>a:hover::before{
  transform: translateX(-50%) scale(1) ;
}

.img_box{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url(img/img.png) no-repeat;
  background-position: right bottom;
  background-size: contain;
  z-index: 0;
  /* opacity: .8; */
}

.info_box{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.info_box>h1{
  font-size: 3.5rem;
  padding: 20px 0;
}
.info_box>h1>span{
  color: rgb(42, 172, 42);
  font-size: 4rem;
}
.info_box>p{
  font-size: 1.4rem;
  line-height: 150%;
}
.info_box-btn{
  font-size: 1.5rem;
  margin-top: 20px;
  padding: 10px;
  text-transform: uppercase;
  border: none;
  box-shadow:  0 0 5px 1px rgba(0, 0, 0, .7);
  background-color: orangered;
  color: white;
}
section{
  height: 100vh;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.about{
  position: relative;
  background-color: #00b0b0;
  
  /* padding: 30px 20px; */
}
.section_img_box{
  width: 100%;
  height: 50%;
  text-align: center;
  position: relative;
}
.section_img_box>img{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.section_text_box{
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section_text_box>h1{
  font-size: 4rem;
  letter-spacing: 1px;
}
.section_text_box>p{
  margin-top: 20px;
  font-size: 1.5rem;
  line-height: 150%;
}
@media (orientation: landscape) {
  .logo{
    width: 10%;
  }
  .info_box{
    left: 10%;
    width: 50%;
    transform: translate(0)
  }
  .section_img_box{
    height: 100%;
    width: 50%;
  }
  .section_text_box{
    height: 100%;
    width: 50%;
  }
}